@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  background: #222;
}

.movie-poster {
  height: 300px;
  margin-right: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-poster:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}