@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px; 
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Projects Section */
.project-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s;
}
.project-card:hover {
  transform: scale(1.05);
}

/* Box Contents */
.project-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #0f420f;
}
.description {
  font-size: 1rem;
  font-weight:400;
  margin-bottom: 1rem;
  color: #0f420f;
}

/* Project Link */
.project-link {
  color:#3b82f6;
}
.project-link:hover {
  text-decoration: underline;
}

/* Technologies Used */
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0f420f;
}

.technology-image {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}